{
  "token": "YOUR_BOT_TOKEN",
  "clientId": "YOUR_APPLICATION_ID",
  "devId": "YOUR_DISCORD_USER_ID",
  "devGuildId": "OPTIONAL_DEV_SERVER_ID_FOR_DEV_ONLY_COMMANDS",
  "channelIds": ["CANCELLED_LECTURES_CHANNEL_ID"],
  "timetableChannelIds": ["TIMETABLE_CHANNEL_ID"],
  "timetableClasses": ["SWD-6.1B", "SWD-6.2B"]
}
